<div>
  <form id="login"
        v-if="state == 'login'"
        @submit.prevent="login">
    <span class="error">{{error}}</span>
    <label for="username">Username or email:</label>
    <input id="username" ref="username">

    <label for="password">Password:</label>
    <input id="password"
           type="password"
           ref="password">
    <button type="submit">Continue</button>
    <button class="btn" @click="state = 'reset'">Reset password?</button>
  </form>

  <form v-if="state == 'reset'" @submit.prevent="reset">
    <label for="email">Email:</label>
    <input id="email" ref="email">
    <button type="submit">Continue</button>
  </form>
</div>
