:root {
  /* from https://uchu.style/
  but I took off the --uchu so I don't have to type as much */
  --blue-1-raw: 0.8966 0.046 260.67;
  --blue-1: oklch(0.8966 0.046 260.67);
  --blue-2-raw: 0.8017 0.091 258.88;
  --blue-2: oklch(0.8017 0.091 258.88);
  --blue-3-raw: 0.7094 0.136 258.06;
  --blue-3: oklch(0.7094 0.136 258.06);
  --blue-4-raw: 0.6239 0.181 258.33;
  --blue-4: oklch(0.6239 0.181 258.33);
  --blue-5-raw: 0.5487 0.222 260.33;
  --blue-5: oklch(0.5487 0.222 260.33);
  --blue-6-raw: 0.5115 0.204 260.17;
  --blue-6: oklch(0.5115 0.204 260.17);
  --blue-7-raw: 0.4736 0.185 259.89;
  --blue-7: oklch(0.4736 0.185 259.89);
  --blue-8-raw: 0.4348 0.17 260.2;
  --blue-8: oklch(0.4348 0.17 260.2);
  --blue-9-raw: 0.3953 0.15 259.87;
  --blue-9: oklch(0.3953 0.15 259.87);
  --gray-1-raw: 0.9557 0.003 286.35;
  --gray-1: oklch(0.9557 0.003 286.35);
  --gray-2-raw: 0.9204 0.002 197.12;
  --gray-2: oklch(0.9204 0.002 197.12);
  --gray-3-raw: 0.8828 0.003 286.34;
  --gray-3: oklch(0.8828 0.003 286.34);
  --gray-4-raw: 0.8468 0.002 197.12;
  --gray-4: oklch(0.8468 0.002 197.12);
  --gray-5-raw: 0.8073 0.002 247.84;
  --gray-5: oklch(0.8073 0.002 247.84);
  --gray-6-raw: 0.7503 0.002 247.85;
  --gray-6: oklch(0.7503 0.002 247.85);
  --gray-7-raw: 0.6901 0.003 286.32;
  --gray-7: oklch(0.6901 0.003 286.32);
  --gray-8-raw: 0.6312 0.004 219.55;
  --gray-8: oklch(0.6312 0.004 219.55);
  --gray-9-raw: 0.5682 0.004 247.89;
  --gray-9: oklch(0.5682 0.004 247.89);
  --green-1-raw: 0.9396 0.05 148.74;
  --green-1: oklch(0.9396 0.05 148.74);
  --green-2-raw: 0.8877 0.096 147.71;
  --green-2: oklch(0.8877 0.096 147.71);
  --green-3-raw: 0.8374 0.139 146.57;
  --green-3: oklch(0.8374 0.139 146.57);
  --green-4-raw: 0.7933 0.179 145.62;
  --green-4: oklch(0.7933 0.179 145.62);
  --green-5-raw: 0.7523 0.209 144.64;
  --green-5: oklch(0.7523 0.209 144.64);
  --green-6-raw: 0.7003 0.194 144.71;
  --green-6: oklch(0.7003 0.194 144.71);
  --green-7-raw: 0.6424 0.175 144.92;
  --green-7: oklch(0.6424 0.175 144.92);
  --green-8-raw: 0.5883 0.158 145.05;
  --green-8: oklch(0.5883 0.158 145.05);
  --green-9-raw: 0.5277 0.138 145.41;
  --green-9: oklch(0.5277 0.138 145.41);
  --orange-1-raw: 0.9383 0.037 56.93;
  --orange-1: oklch(0.9383 0.037 56.93);
  --orange-2-raw: 0.8837 0.072 55.8;
  --orange-2: oklch(0.8837 0.072 55.8);
  --orange-3-raw: 0.8356 0.107 56.49;
  --orange-3: oklch(0.8356 0.107 56.49);
  --orange-4-raw: 0.7875 0.141 54.32;
  --orange-4: oklch(0.7875 0.141 54.32);
  --orange-5-raw: 0.7461 0.171 51.56;
  --orange-5: oklch(0.7461 0.171 51.56);
  --orange-6-raw: 0.6933 0.157 52.18;
  --orange-6: oklch(0.6933 0.157 52.18);
  --orange-7-raw: 0.638 0.142 52.1;
  --orange-7: oklch(0.638 0.142 52.1);
  --orange-8-raw: 0.5828 0.128 52.2;
  --orange-8: oklch(0.5828 0.128 52.2);
  --orange-9-raw: 0.5249 0.113 51.98;
  --orange-9: oklch(0.5249 0.113 51.98);
  --pink-1-raw: 0.958 0.023 354.27;
  --pink-1: oklch(0.958 0.023 354.27);
  --pink-2-raw: 0.9214 0.046 352.31;
  --pink-2: oklch(0.9214 0.046 352.31);
  --pink-3-raw: 0.889 0.066 354.39;
  --pink-3: oklch(0.889 0.066 354.39);
  --pink-4-raw: 0.8543 0.09 354.1;
  --pink-4: oklch(0.8543 0.09 354.1);
  --pink-5-raw: 0.8223 0.112 355.33;
  --pink-5: oklch(0.8223 0.112 355.33);
  --pink-6-raw: 0.7637 0.101 355.37;
  --pink-6: oklch(0.7637 0.101 355.37);
  --pink-7-raw: 0.7023 0.092 354.96;
  --pink-7: oklch(0.7023 0.092 354.96);
  --pink-8-raw: 0.6411 0.084 353.91;
  --pink-8: oklch(0.6411 0.084 353.91);
  --pink-9-raw: 0.5768 0.074 353.14;
  --pink-9: oklch(0.5768 0.074 353.14);
  --purple-1-raw: 0.891 0.046 305.24;
  --purple-1: oklch(0.891 0.046 305.24);
  --purple-2-raw: 0.7868 0.091 305;
  --purple-2: oklch(0.7868 0.091 305);
  --purple-3-raw: 0.685 0.136 303.78;
  --purple-3: oklch(0.685 0.136 303.78);
  --purple-4-raw: 0.5847 0.181 302.06;
  --purple-4: oklch(0.5847 0.181 302.06);
  --purple-5-raw: 0.4939 0.215 298.31;
  --purple-5: oklch(0.4939 0.215 298.31);
  --purple-6-raw: 0.4611 0.198 298.4;
  --purple-6: oklch(0.4611 0.198 298.4);
  --purple-7-raw: 0.4277 0.181 298.49;
  --purple-7: oklch(0.4277 0.181 298.49);
  --purple-8-raw: 0.3946 0.164 298.29;
  --purple-8: oklch(0.3946 0.164 298.29);
  --purple-9-raw: 0.3601 0.145 298.35;
  --purple-9: oklch(0.3601 0.145 298.35);
  --red-1-raw: 0.8898 0.052 3.28;
  --red-1: oklch(0.8898 0.052 3.28);
  --red-2-raw: 0.7878 0.109 4.54;
  --red-2: oklch(0.7878 0.109 4.54);
  --red-3-raw: 0.6986 0.162 7.82;
  --red-3: oklch(0.6986 0.162 7.82);
  --red-4-raw: 0.6273 0.209 12.37;
  --red-4: oklch(0.6273 0.209 12.37);
  --red-5-raw: 0.5863 0.231 19.6;
  --red-5: oklch(0.5863 0.231 19.6);
  --red-6-raw: 0.5441 0.214 19.06;
  --red-6: oklch(0.5441 0.214 19.06);
  --red-7-raw: 0.4995 0.195 18.34;
  --red-7: oklch(0.4995 0.195 18.34);
  --red-8-raw: 0.458 0.177 17.7;
  --red-8: oklch(0.458 0.177 17.7);
  --red-9-raw: 0.4117 0.157 16.58;
  --red-9: oklch(0.4117 0.157 16.58);
  --yellow-1-raw: 0.9705 0.039 91.2;
  --yellow-1: oklch(0.9705 0.039 91.2);
  --yellow-2-raw: 0.95 0.07 92.39;
  --yellow-2: oklch(0.95 0.07 92.39);
  --yellow-3-raw: 0.9276 0.098 92.58;
  --yellow-3: oklch(0.9276 0.098 92.58);
  --yellow-4-raw: 0.9092 0.125 92.56;
  --yellow-4: oklch(0.9092 0.125 92.56);
  --yellow-5-raw: 0.89 0.146 91.5;
  --yellow-5: oklch(0.89 0.146 91.5);
  --yellow-6-raw: 0.8239 0.133 91.5;
  --yellow-6: oklch(0.8239 0.133 91.5);
  --yellow-7-raw: 0.7584 0.122 92.21;
  --yellow-7: oklch(0.7584 0.122 92.21);
  --yellow-8-raw: 0.6914 0.109 91.04;
  --yellow-8: oklch(0.6914 0.109 91.04);
  --yellow-9-raw: 0.6229 0.097 91.9;
  --yellow-9: oklch(0.6229 0.097 91.9);
  --yin-1-raw: 0.9187 0.003 264.54;
  --yin-1: oklch(0.9187 0.003 264.54);
  --yin-2-raw: 0.8461 0.004 286.31;
  --yin-2: oklch(0.8461 0.004 286.31);
  --yin-3-raw: 0.7689 0.004 247.87;
  --yin-3: oklch(0.7689 0.004 247.87);
  --yin-4-raw: 0.6917 0.004 247.88;
  --yin-4: oklch(0.6917 0.004 247.88);
  --yin-5-raw: 0.6101 0.005 271.34;
  --yin-5: oklch(0.6101 0.005 271.34);
  --yin-6-raw: 0.5279 0.005 271.32;
  --yin-6: oklch(0.5279 0.005 271.32);
  --yin-7-raw: 0.4387 0.005 271.3;
  --yin-7: oklch(0.4387 0.005 271.3);
  --yin-8-raw: 0.3502 0.005 236.66;
  --yin-8: oklch(0.3502 0.005 236.66);
  --yin-9-raw: 0.2511 0.006 258.36;
  --yin-9: oklch(0.2511 0.006 258.36);
  --yang: oklch(0.994 0 0);
  --yin: oklch(0.1438 0.007 256.88);
}
