<html>

<head>
  <script src="/js/vue.global.js"></script>
  <!-- "defer" means that the DOM gets loaded before the script is executed -->
  <script src="/js/text-annotator.umd.js" defer></script>
  <script src="/js/pocketbase.umd.js" defer></script>
  <link rel="stylesheet" href="/css/text-annotator.css">
  <link rel="stylesheet" href="style.css">
  <script src="bundle.js" defer></script>
  <meta charset="utf-8" />
  <!-- make the page responsive (though I don't always want this) -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>vue 3 template</title>
</head>

<body>
  <nav class="squiggle-bottom">
  </nav>
  <main id="app">
    <Login v-bind:pb="pb"
           v-if="step == 'login'"
           @success="setupAnnotator"> </Login>

    <div v-else-if="step == 'name'" class="email-page">
      <p>
        First, please enter your name and (optionally) email so that I know who
        the feedback is from.
      </p>
      <form id="name-email" @submit.prevent="save_name_email">
        <label for="name">Name:</label><input id="name" ref="name">
        <label for="email">Email:</label><input id="email" ref="email">
        <button class="btn">Submit</button>
      </form>
    </div>

    <div v-else class="user-feedback-page">
      <div ref="html" v-html="document && document.content">
      </div>
      <div style="position: relative;">
        <section class="comments">
          <h2> Your comments </h2>
          <Modal v-if="active_feedback"
                 @modal-close="close"
                 @keydown.esc="close"
                 @modal-submit="submit"
                 v-bind:feedback="active_feedback"> </Modal>
          <div v-for="a in annotations">
          </div>


          <article v-for="feedback_item in annotations"
                   role="button"
                   aria-label="Edit feedback"
                   class="feedback-item"
                   @mouseenter="hover_feedback = feedback_item"
                   @mouseleave="hover_feedback = undefined"
                   @click="active_feedback = feedback_item">
            <span role="img" v-html="icons[feedback_item.emoji].emoji"> </span>
            {{feedback_item.content}}
          </article>
        </section>
      </div>
    </div>
  </main>
  <footer class="squiggle-top">
    this feedback site was made by <a href="https://marieflanagan.com/">Marie
      Clare LeBlanc Flanagan</a> and <a href="https://jvns.ca">Julia Evans</a>.
    Heavily inspired by <a href="https://helpthisbook.com/">Help This
      Book</a>.
  </footer>
</body>

</html>
